.StockHeader {
    display: flex;
    justify-content: space-between;
}

.StockHeader-details {
    padding: 8px;
    text-align: left;
}

.StockHeader-ticker {
    font-size: 26px;
}

.StockHeader-description {
    color: #777;
    margin-top: 8px;
    font-family: 'din_lightregular';
    font-size: 16px;
}
