.StockHeader {
    display: flex;
    justify-content: space-between;

}

.StockHeader-details {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.StockHeader-ticker {
    font-size: 20px;
}

.StockHeader-description {
    color: #777;
    margin: 4px;
    font-family: 'din_lightregular';
    font-size: 16px;
}
