.Stats {
    position: absolute;
    display: flex;
    top: 42px;
    left: 8px;
    text-align: left;
    padding: 4px 8px;
    width: 350px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(184,184,184,0.7);
    border-radius: 5px;
}

.Stats > div {
    flex: 1;
    margin: 8px;
}

.Stats-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
}

.Stats-info + .Stats-info {
    border-top: 1px solid #eee;
}

.Stats-label {
    font-size: 12px;
    margin-right: 8px;
    color: #999;
}

.Stats-value {
    font-size: 16px;
}
