.Stats {
    display: flex;
    text-align: left;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
}

.Stats > div {
    flex: 1;
}

.Stats-left + .Stats-right {
    margin-left: 24px;
}

.Stats-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.Stats-info + .Stats-info {
    border-top: 1px solid #eee;
}

.Stats-label {
    font-size: 12px;
    margin-right: 8px;
    color: #999;
}

.Stats-value {
    font-size: 16px;
}
