.StockDropdown {
    display: flex;
    flex: 2;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(184,184,184,0.7);
    padding: 16px 16px 32px;
    position: absolute;
    border-radius: 5px;
    top: 48px;
    left: 16px;
}

.StockDropdown .Price {
    font-size: 27px;
    letter-spacing: normal;
}

.StockDropdown .Price-small {
    font-size: 18px;
    letter-spacing: normal;
}

.Ministock-container {
    padding-left: 20px;
}

.userinfo {
    margin-left: 8px;
    flex: 1;
    text-align: left;
}

.userinfo a {
    text-decoration: none;
    color: #333;
}

.userinfo a:hover {
    text-decoration: underline;
}

.info {
    min-width: 120px;
}

.ministock {
    font-family: 'din_lightregular';
    display: flex;
    justify-content: space-between;
}

.mini-ticker {
    margin: 16px;
    margin-right: 32px;
    text-decoration: none;
    color: #333;
}

.mini-price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #29CA96;
    margin: 8px;
    width: 72px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}

.mini-price:hover {
    background-color: #1AA278;
}

.down {
    background-color: #FC452A;
}

.down:hover {
    background-color: #EC351A;
}
