.App {
  font-family: 'dinregular';
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.color {
    color: #29CA96;
}

.color-bg {
    background-color: #29CA96;
}

.color-bg:hover {
    background-color: #1AA278;
}

.negative .color {
	color: #F45531;
}

.negative .color-bg {
	background-color: #F45531;
}

.negative .color-bg:hover {
	background-color: #E44521;
}

.content {
    max-height: 100%;
    flex: 20;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

.nav {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 10;
    min-height: 60px;
    /*border-bottom: 1px solid #eee;*/
    background: white;
    z-index: 1;
}

.nav .content {
    align-items: center;
}

.stocklist-container {
    position: relative;
    z-index: 1;
}

.stocklist-container > div {
    height: 0;
}

.stocklist-btn {
    outline: none;
    font-size: 18px;
    padding: 8px 16px;
    cursor: pointer;
}

.stocklist-btn:hover {
    background-color: #fafafa;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 24px;
}
