.App {
  font-family: 'dinregular';
}

.content {
    padding-top: 75px;
    position: relative;
    max-width: 960px;
    min-width: 600px;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

.logo {
    width: 75px;
    height: 75px;
}

.nav {
    position: fixed;
    padding-top: 24px;
    width:100%;
    min-height: 60px;
    border-bottom: 1px solid #eee;
    background: white;
    z-index: 1;
}

.nav .content {
    padding: 0;
    align-items: center;
    max-width: 1170px;
}

.stocklist-container {
    position: relative;
    z-index: 1;
}

.stocklist-container > div {
    height: 0;
}

.stocklist-btn {
    margin-left: 16px;
    outline: none;
    padding: 8px 16px;
    cursor: pointer;
}

.stocklist-btn:hover {
    background-color: #fafafa;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 24px;
}

.Name {
    margin-top: 36px;
    font-size: 24px;
}

.Username {
    margin-top: 8px;
    font-size: 18px;
    margin-bottom: 32px;
}

.Label {
    text-transform: uppercase;
    color: #777;
    font-size: 12px;
    margin: 6px 0;
    margin-top: 16px;
}
